text[font-family="28 Days Later"] { font-family:"28 Days Later"; }
text[font-family="AachenLight"] { font-family:"AachenLight"; }
text[font-family="Aftermath"] { font-family:"Aftermath"; }
text[font-family="Ale and Wenches BB"] { font-family:"Ale and Wenches BB"; }
text[font-family="Alpha Beta BRK"] { font-family:"Alpha Beta BRK"; }
text[font-family="AmerType Md BT"] { font-family:"AmerType Md BT"; }
text[font-family="Anger"] { font-family:"Anger"; }
text[font-family="ArbuckleFat"] { font-family:"ArbuckleFat"; }
text[font-family="Arcade Classic"] { font-family:"Arcade Classic"; }
text[font-family="Arial"] { font-family:"Arial"; }
text[font-family="Arial Bold"] { font-family:"Arial Bold"; }
text[font-family="Arial Black"] { font-family:"Arial Black"; }
text[font-family="Arvigo"] { font-family:"Arvigo"; }
text[font-family="Aurora BdCn BT"] { font-family:"Aurora BdCn BT"; }
text[font-family="Aurora Cn BT"] { font-family:"Aurora Cn BT"; }
text[font-family="AvantGarde Bk BT"] { font-family:"AvantGarde Bk BT"; }
text[font-family="Baby Kruffy"] { font-family:"Baby Kruffy"; }
text[font-family="Bardour"] { font-family:"Bardour"; }
text[font-family="BeatMyGuest"] { font-family:"BeatMyGuest"; }
text[font-family="Beatnik"] { font-family:"Beatnik"; }
text[font-family="BeteNoirA"] { font-family:"BeteNoirA"; }
text[font-family="Bisque"] { font-family:"Bisque"; }
text[font-family="Blade Runner"] { font-family:"Blade Runner"; }
text[font-family="Blackletter686 BT"] { font-family:"Blackletter686 BT"; }
text[font-family="Blueberry"] { font-family:"Blueberry"; }
text[font-family="Bonzai"] { font-family:"Bonzai"; }
text[font-family="Bookworm"] { font-family:"Bookworm"; }
text[font-family="BowlORama"] { font-family:"BowlORama"; }
text[font-family="Bernhard BdCn BT"] { font-family:"Bernhard BdCn BT"; }
text[font-family="Budmo Jiggler"] { font-family:"Budmo Jiggler"; }
text[font-family="Budmo Jiggler Bold"] { font-family:"Budmo Jiggler Bold"; }
text[font-family="Busorama Md BT"] { font-family:"Busorama Md BT"; }
text[font-family="Cactus"] { font-family:"Cactus"; }
text[font-family="Captain Podd"] { font-family:"Captain Podd"; }
text[font-family="Celtic Bold"] { font-family:"Celtic Bold"; }
text[font-family="Cheltenhm BdCn BT"] { font-family:"Cheltenhm BdCn BT"; }
text[font-family="Cheltenhm BT"] { font-family:"Cheltenhm BT"; }
text[font-family="CloisterBlack BT"] { font-family:"CloisterBlack BT"; }
text[font-family="Coin Locker Datura"] { font-family:"Coin Locker Datura"; }
text[font-family="Coin Locker Datura Shadow"] { font-family:"Coin Locker Datura Shadow"; }
text[font-family="College Black"] { font-family:"College Black"; }
text[font-family="Collegiate Inside"] { font-family:"Collegiate Inside"; }
text[font-family="Collegiate Outside"] { font-family:"Collegiate Outside"; }
text[font-family="Collegiate Regular"] { font-family:"Collegiate Regular"; }
text[font-family="College"] { font-family:"College"; }
text[font-family="College Bold"] { font-family:"College Bold"; }
text[font-family="College Condensed"] { font-family:"College Condensed"; }
text[font-family="College Semi-Condensed"] { font-family:"College Semi-Condensed"; }
text[font-family="Computerfont"] { font-family:"Computerfont"; }
text[font-family="Coolvetica"] { font-family:"Coolvetica"; }
text[font-family="Copasetic"] { font-family:"Copasetic"; }
text[font-family="Cuprum"] { font-family:"Cuprum"; }
text[font-family="CurlyCue"] { font-family:"CurlyCue"; }
text[font-family="Dalek"] { font-family:"Dalek"; }
text[font-family="Denial2"] { font-family:"Denial2"; }
text[font-family="Detectives Inc"] { font-family:"Detectives Inc"; }
text[font-family="Dimitri"] { font-family:"Dimitri"; }
text[font-family="dotspecial"] { font-family:"dotspecial"; }
text[font-family="Droid Sans"] { font-family:"Droid Sans"; }
text[font-family="Dynomite"] { font-family:"Dynomite"; }
text[font-family="Dynomite Spark"] { font-family:"Dynomite Spark"; }
text[font-family="EckmannD"] { font-family:"EckmannD"; }
text[font-family="Elementric"] { font-family:"Elementric"; }
text[font-family="Elric"] { font-family:"Elric"; }
text[font-family="Engravers Old English BT"] { font-family:"Engravers Old English BT"; }
text[font-family="Erotokritos"] { font-family:"Erotokritos"; }
text[font-family="Faerie"] { font-family:"Faerie"; }
text[font-family="Floydian"] { font-family:"Floydian"; }
text[font-family="ForgottenFuturistCollege"] { font-family:"ForgottenFuturistCollege"; }
text[font-family="FrizQuadrata"] { font-family:"FrizQuadrata"; }
text[font-family="Futura Extended"] { font-family:"Futura Extended"; }
text[font-family="Ancient Geek"] { font-family:"Ancient Geek"; }
text[font-family="Glaser Setencil D"] { font-family:"Glaser Setencil D"; }
text[font-family="GoudyOldSt XBd BT"] { font-family:"GoudyOldSt XBd BT"; }
text[font-family="GoudyOlSt BT"] { font-family:"GoudyOlSt BT"; }
text[font-family="Helvetica Neue"] { font-family:"Helvetica Neue"; }
text[font-family="Helvetica Neue Bold"] { font-family:"Helvetica Neue Bold"; }
text[font-family="Hip 20s"] { font-family:"Hip 20s"; }
text[font-family="HoratioDMed"] { font-family:"HoratioDMed"; }
text[font-family="Huxley"] { font-family:"Huxley"; }
text[font-family="Hyperion Sunset"] { font-family:"Hyperion Sunset"; }
text[font-family="Impact"] { font-family:"Impact"; }
text[font-family="Inconsolata"] { font-family:"Inconsolata"; }
text[font-family="Ireland"] { font-family:"Ireland"; }
text[font-family="JackLantern BB"] { font-family:"JackLantern BB"; }
text[font-family="Janda Snickerdoodle"] { font-family:"Janda Snickerdoodle"; }
text[font-family="Jersey Letters"] { font-family:"Jersey Letters"; }
text[font-family="Josefin Sans Std"] { font-family:"Josefin Sans Std"; }
text[font-family="Kabel Bd"] { font-family:"Kabel Bd"; }
text[font-family="Kabel Dm BT"] { font-family:"Kabel Dm BT"; }
text[font-family="Kabel Md BT"] { font-family:"Kabel Md BT"; }
text[font-family="Kabel Bk BT"] { font-family:"Kabel Bk BT"; }
text[font-family="Kabel Ult BT"] { font-family:"Kabel Ult BT"; }
text[font-family="Kameleon"] { font-family:"Kameleon"; }
text[font-family="Kells98"] { font-family:"Kells98"; }
text[font-family="Lestat"] { font-family:"Lestat"; }
text[font-family="Libra BT"] { font-family:"Libra BT"; }
text[font-family="Lobster"] { font-family:"Lobster"; }
text[font-family="Lochen"] { font-family:"Lochen"; }
text[font-family="LS Cooper Blk"] { font-family:"LS Cooper Blk"; }
text[font-family="ITC Lubalin Graph Std"] { font-family:"ITC Lubalin Graph Std"; }
text[font-family="Luciferius"] { font-family:"Luciferius"; }
text[font-family="LunacyMore"] { font-family:"LunacyMore"; }
text[font-family="Mabella"] { font-family:"Mabella"; }
text[font-family="Machine BT"] { font-family:"Machine BT"; }
text[font-family="Madison Square Incised"] { font-family:"Madison Square Incised"; }
text[font-family="Magnum"] { font-family:"Magnum"; }
text[font-family="MariageD"] { font-family:"MariageD"; }
text[font-family="Maximillion"] { font-family:"Maximillion"; }
text[font-family="Musicals"] { font-family:"Musicals"; }
text[font-family="Neucha"] { font-family:"Neucha"; }
text[font-family="NotCourierSans"] { font-family:"NotCourierSans"; }
text[font-family="Oktoberfest"] { font-family:"Oktoberfest"; }
text[font-family="Papyrus LET"] { font-family:"Papyrus LET"; }
text[font-family="Playbill BT"] { font-family:"Playbill BT"; }
text[font-family="Poophead"] { font-family:"Poophead"; }
text[font-family="Pythia"] { font-family:"Pythia"; }
text[font-family="Reenie Beenie"] { font-family:"Reenie Beenie"; }
text[font-family="Revue BT"] { font-family:"Revue BT"; }
text[font-family="Rival"] { font-family:"Rival"; }
text[font-family="Rivanna"] { font-family:"Rivanna"; }
text[font-family="Rubber Stamp LET"] { font-family:"Rubber Stamp LET"; }
text[font-family="Samarkan"] { font-family:"Samarkan"; }
text[font-family="Samarkan Oblique"] { font-family:"Samarkan Oblique"; }
text[font-family="sans-serif"] { font-family:"sans-serif"; }
text[font-family="Seized Future"] { font-family:"Seized Future"; }
text[font-family="SpacedocStencil"] { font-family:"SpacedocStencil"; }
text[font-family="Stampful"] { font-family:"Stampful"; }
text[font-family="Stencilcase Bold"] { font-family:"Stencilcase Bold"; }
text[font-family="Stencil Export"] { font-family:"Stencil Export"; }
text[font-family="Sencilcase"] { font-family:"Sencilcase"; }
text[font-family="Stencil Four"] { font-family:"Stencil Four"; }
text[font-family="Stencil Four Reversed"] { font-family:"Stencil Four Reversed"; }
text[font-family="Stencil Gothic JL"] { font-family:"Stencil Gothic JL"; }
text[font-family="Stonehenge"] { font-family:"Stonehenge"; }
text[font-family="Tangerine"] { font-family:"Tangerine"; }
text[font-family="Times New Roman"] { font-family:"Times New Roman"; }
text[font-family="Tango Bold"] { font-family:"Tango Bold"; }
text[font-family="Tattoo Lettering Black"] { font-family:"Tattoo Lettering Black"; }
text[font-family="Tattoo Lettering Open"] { font-family:"Tattoo Lettering Open"; }
text[font-family="Tidy Curve TV"] { font-family:"Tidy Curve TV"; }
text[font-family="Tribeca"] { font-family:"Tribeca"; }
text[font-family="TVNordEFOP"] { font-family:"TVNordEFOP"; }
text[font-family="Two For Juan"] { font-family:"Two For Juan"; }
text[font-family="Viking Bold"] { font-family:"Viking Bold"; }
text[font-family="Weltron Special Power"] { font-family:"Weltron Special Power"; }
text[font-family="Wide Awake"] { font-family:"Wide Awake"; }
text[font-family="Wide Awake Black"] { font-family:"Wide Awake Black"; }
text[font-family="Yanone Kaffeesatz"] { font-family:"Yanone Kaffeesatz"; }
text[font-family="Yold Anglican"] { font-family:"Yold Anglican"; }
text[font-family="Yorstat"] { font-family:"Yorstat"; }